

body {
    font-family: helvetica;
}
.list-style-none{
    list-style: none;
}
.font-blue{
    color:#000099;
}
.align-middle{
    text-align:center;
}
.align-right{
    text-align:right;
}
.warning{
    color:red;
}
.offset50{
    padding-left:50px;
}
.padding-side30{
    padding-left:30px;
    padding-right:30px;
}
.font-underline{
    text-decoration: underline;
}