
    <tr>
    	<td colspan="5" style="font-size:14px;">
        	Group Member {COUNT}
        </td>
    </tr>
    <tr>
    	<td>
        	Name:
        </td>
    	<td colspan="4">
        	{Member_Name}
        </td>
    </tr>
    <tr>
    	<td>
        	Email Address:
        </td>
    	<td colspan="4">
        	{Member_EmailAddress}
        </td>
    </tr>
    <tr>
    	<td>
        	Name of Institution:
        </td>
    	<td colspan="4">
        	{Member_Institution}
        </td>
    </tr>
    <tr>
    	<td>
        	Course title:
        </td>
    	<td colspan="4">
        	{Member_Course}
        </td>
    </tr>
    <tr>
    	<td>
        	Year of Graduation:
        </td>
    	<td colspan="4">
        	{Member_YOG}
        </td>
    </tr>
    <tr>
    	<td>
        	Dietary Restrictions::
        </td>
    	<td colspan="4">
        	{Member_Dietary}
        </td>
    </tr>
    