<table border="0" cellpadding="6" cellspacing="0" width="650px" align="center" style="font-family:Lucida Grande,Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
    <tr>
    </tr>
    <tr>
    	<td colspan="5" align="center" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:black;">
            <h2>Singapore Business Case Competition</h2>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="5">
            THE ULTIMATE CASE EXPERIENCE
        </td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="5">
            Registration Confirmation
        </td>
    </tr>
    <tr>
    	<td colspan="5">
            Thank you and congratulations on your successful registration for Singapore Business Case Competition 2013.
            <br /><br />
            This is your confirmation email. Please confirm that all registered information are accurate. Should there be any discrepancy, please contact us via email at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>
            <br><br>
            *The Preliminary Round Case is attached.
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5" style="font-size:14px;">
        	Team Information
        </td>
    </tr>
    <tr>
    	<td>
        	Registration ref.:
        </td>
    	<td colspan="4">
        	{Registration_Ref}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Name:
        </td>
    	<td colspan="4">
        	{Team_Name}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Email Address:
        </td>
    	<td colspan="4">
        	{Team_EmailAddress}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Contact No.:
        </td>
    	<td colspan="4">
        	{Team_ContactNo}
        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    
    <tr>
    	<td colspan="5" style="font-size:14px;">
            <strong>Group Member 1 (Team Leader)</strong>
        </td>
    </tr>
    <tr>
    	<td>
        	Name:
        </td>
    	<td colspan="4">
        	{Leader_Name}
        </td>
    </tr>
    <tr>
    	<td>
        	Email Address:
        </td>
    	<td colspan="4">
        	{Leader_EmailAddress}
        </td>
    </tr>
    <tr>
    	<td>
        	Name of Institution:
        </td>
    	<td colspan="4">
        	{Leader_Institution}
        </td>
    </tr>
    <tr>
    	<td>
        	Course title:
        </td>
    	<td colspan="4">
        	{Leader_Course}
        </td>
    </tr>
    <tr>
    	<td>
        	Year of Graduation:
        </td>
    	<td colspan="4">
        	{Leader_YOG}
        </td>
    </tr>
    <tr>
    	<td>
        	Dietary Restrictions::
        </td>
    	<td colspan="4">
        	{Leader_Dietary}
        </td>
    </tr>
    
    {MEMBERS}
    
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    <tr>
        <td>
            <strong>SBCC Facebook Page</strong>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            We have specially created the SBCC Facebook page just for you, to be a part of the SBCC community. Please 'like' this page to receive crucial updates and tips on the competition.<br>
            We would like to invite you to join the community here: <a href="http://www.facebook.com/sgbcc">www.facebook.com/sgbcc</a>.<br>
            For any other enquiries, you are welcome to contact us at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>. 
        </td>
    </tr>
    <tr>
        <td>
            Warmest Regards, 
            <br />
            Singapore Business Case Competition 2013 Organising Committee
        </td>
    </tr>
    
    
</table>