<table border="0" cellpadding="6" cellspacing="0" height="100%" width="650px" align="center" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/2012/images/logo.png" height="200" alt="Singapore Business Case Competition 2013" />
        </td>
    </tr>
    <tr>
    	<td colspan="5" align="center" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:#4BB5C2;">
        	Registration Confirmation
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
        	Thank you and congratulations on your successful registration for <br />Singapore Business Case Competition 2013.
            <br /><br />
            This is your confirmation email. Please confirm that all registered information are accurate. Should there be any discrepancy, please contact us via email at <a href="mailto:info@sgbcc.com.sg">info@sgbcc.com.sg</a>
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5" style="font-size:14px;">
        	Team Information
        </td>
    </tr>
    <tr>
    	<td>
        	Registration ref.:
        </td>
    	<td colspan="4">
        	{Registration_Ref}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Name:
        </td>
    	<td colspan="4">
        	{Team_Name}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Email Address:
        </td>
    	<td colspan="4">
        	{Team_EmailAddress}
        </td>
    </tr>
    <tr>
    	<td>
        	Team Contact No.:
        </td>
    	<td colspan="4">
        	{Team_ContactNo}
        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    
    <tr>
    	<td colspan="5" style="font-size:14px;">
        	Team Leader
        </td>
    </tr>
    <tr>
    	<td>
        	Name:
        </td>
    	<td colspan="4">
        	{Leader_Name}
        </td>
    </tr>
    <tr>
    	<td>
        	Email Address:
        </td>
    	<td colspan="4">
        	{Leader_EmailAddress}
        </td>
    </tr>
    <tr>
    	<td>
        	Name of Institution:
        </td>
    	<td colspan="4">
        	{Leader_Institution}
        </td>
    </tr>
    <tr>
    	<td>
        	Course title:
        </td>
    	<td colspan="4">
        	{Leader_Course}
        </td>
    </tr>
    <tr>
    	<td>
        	Year of Graduation:
        </td>
    	<td colspan="4">
        	{Leader_YOG}
        </td>
    </tr>
    <tr>
    	<td>
        	Dietary Restrictions::
        </td>
    	<td colspan="4">
        	{Leader_Dietary}
        </td>
    </tr>
    
    {MEMBERS}
    
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    <tr>
    	<td colspan="5">
For any other enquiries, please contact us at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>. 
<br /><br />
Warmest Regards, 
<br />
Singapore Business Case Competition 2013 Organising Committee
        </td>
    </tr>
    
    
</table>