<table border="0" cellpadding="6" cellspacing="0" height="100%" width="650px" align="center" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">        	
            Dear {TEAM_NAME},
             <br /><br />
The Grand Finals of the Singapore Business Case Competition is finally here!
<br /><br />
Please note the change in venue as follows:
<br /><br />
Date: Saturday, 26th March 2011
<br />
Time: 1700 hours
<br />
<strong style="color:#F00;">Venue: School of Physical and Mathematical Sciences, LT2</strong>
<br /><br />
The nearest carpark is at Carpark B. For those who are taking public transport, you may take bus 179 from BoonLay bus interchange and alight at the bus stop outside innovation centre, and walk towards Canteen B direction to SPMS LT2. 
<br /><br />
For those who have yet to sign up to watch the top 3 finalists battle their wits, please do so via email at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a> by today, 25th March, 6pm.
<br /><br />
Thank you!
<br /><br />
Yours Sincerely,
<br />
Lui Wen Jie
<br />
Liaison Officer
<br />
On behalf of the SBCC organising committee

        </td>
    </tr>
    
    
    
    
    
</table>