<table border="0" cellpadding="6" cellspacing="0" height="100%" width="650px" align="center" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/2012/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5" align="center" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:#4BB5C2;">
        	Competitor Portal - Login Details
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
    	
    	<h1>This can be updated for 2013!</h1>
    	
        	Dear {TEAM_NAME},
            <br /><br /> 
Congratulations on your successful registration!
<br /><br />
Your team's login ID and password is as follows:
<br /> <br />
Login: <strong>{LOGIN_EMAIL}</strong>
<br />
Password: <strong>{LOGIN_PASSWORD}</strong>
<br /><br />
Please check the <a href="http://www.sgbcc.com.sg/2013/Competition_Portal/" style="color:#84A464; font-weight:bold; text-decoration:none;">competitor's page</a> at the specified times for the case and submissions. Thank you and we wish you all the best for the Ernst & Young Singapore Business Case Competition.
		</td>
	</tr>


    <tr>
    	<td colspan="5" align="left" valign="top">&nbsp;
    		
        </td>
    </tr>
    <tr>
    	<td colspan="5" align="left" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:#4BB5C2;">
        	<img src="http://www.sgbcc.com.sg/2012/images/icons/facebook.png" style="margin:0 6px -5px 0;" /> SBCC Facebook Page
        </td>
    </tr>
    
	<tr>
    	<td colspan="5">
We have specially created the SBCC Facebook page just for you, to be a part of the SBCC community. This page is a platform for you to interact with other fellow SBCC participants as well as to receive updates on the competition.
<br /><br />
Do check out our <a href="http://www.sgbcc.com.sg/2012/The-Competition/Sustainability-Snapshots-Facebook-Photo-Contest/" style="color:#84A464; font-weight:bold; text-decoration:none;">Sustainability Snapshots Facebook Photo Contest</a> too! Attractive cash prizes to be won! 
<br /><br />
<a href="http://www.sgbcc.com.sg/2012/The-Competition/Sustainability-Snapshots-Facebook-Photo-Contest/" style="color:#84A464; font-weight:bold; text-decoration:none;">
<img src="http://www.sgbcc.com.sg/2012/images/sustainsnapshot.jpg" border="0" width="650" />
</a>
<br /><br />
We would like to invite you to join the community here: <a href="http://www.facebook.com/sgbcc" style="color:#84A464; font-weight:bold; text-decoration:none;">www.facebook.com/sgbcc</a>   
		</td>
	</tr>
	
    <tr>
    	<td colspan="5" align="left" valign="top">&nbsp;
    		
        </td>
    </tr>
    
    <tr>
    	<td colspan="5" align="left" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:#4BB5C2;">
        	Team Profile Picture for Facebook
        </td>
    </tr>
    

	<tr>
    	<td colspan="5">
After joining the page, we would like to request each team to submit a team photo with your team name, which we will then upload onto the SBCC Facebook page. 
<br /><br />
Kindly send in your photo by 13th February 2012 to: <a href="mailto:publicity@sgbcc.com.sg" style="color:#84A464; font-weight:bold; text-decoration:none;">publicity@sgbcc.com.sg</a>
		</td>
	</tr>

 
 
 
         </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    
    
    <tr>
    	<td colspan="5">
For any other enquiries, please contact us at <a href="mailto:liaison@sgbcc.com.sg" style="color:#84A464; font-weight:bold; text-decoration:none;">liaison@sgbcc.com.sg</a>. 
<br /><br />
Warmest Regards, 
<br />
Ernst &amp; Young Singapore Business Case Competition Organising Committee
        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5" style="font-style:italic;" align="center">
			Online registration and competitor portal powered by <a href="http://www.registertheworld.com/" style="color:#84A464; font-weight:bold; text-decoration:none;">Register the World</a>.
        </td>
    </tr>
    
    
</table>