<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br /><br />

Congratulations! You have done well and your teams have been selected to enter the Quarter Finals! 
<br /><br />
Quarter-finalists are to take note of the details below:

		</td>
    </tr>
    <tr>
    	<td colspan="5">
        
    <table border="0" cellpadding="6" cellspacing="0" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
    	<tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				Quarter Finals Day:
            </td>
            <td style="background-color:#FEFFC1;">
            	19th March, Saturday
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	Time:
			</td>
            <td style="background-color:#FEFFC1;">
            	0800H, eat your breakfast before coming! Lunch will be provided.
			</td>
		</tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				Location:
            </td>
            <td style="background-color:#FEFFC1;">
            	Nanyang Technological University, School of Humanities and Social Science (HSS), Auditorium entrance. You can refer to <a href="http://maps.ntu.edu.sg/maps#q:hss%20">http://maps.ntu.edu.sg/maps#q:hss%20</a>
            </td>
        </tr> 
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	Attire:
            </td>
            <td style="background-color:#FEFFC1;">
            	Business Formal
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	Task:
            </td>
            <td style="background-color:#FEFFC1;">
            	Come prepared to win the judges over with your presentation! You will use the same set of slides that you have submitted. Each team will be given 15 minutes to present and 10 minutes to answer questions. Only the top 2 teams from each pool will proceed to the Semi-Finals. Remember to read <a href="http://www.sgbcc.com.sg/The-Competition/Rules/">the rules</a> for more details.
            </td>
        </tr>
	</table>
    
    	</td>
	</tr>
    <tr>
    	<td colspan="5">
You are also reminded to stay for the case interview training session held in the early afternoon. In the meantime, get ready for the ultimate case experience! 
<br /><br />
The presentation schedule is as follows: 
		</td>
	</tr>
    <tr>
    	<td colspan="5">
	
	<table border="0" cellpadding="6" cellspacing="0" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
		<tr valign="top" align="center" style="font-weight:bold; background-color:#D1F7C0;">
        	<td>Time</td>	
            <td>Pool 1</td>
            <td>Pool 2</td>
            <td>Pool 3</td>
            <td>Pool 4</td>
            <td>Pool 5</td>
            <td>Pool 6</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">0930</td>
            <td>The Invincibles</td>	
            <td>Case and Young</td>	
            <td>KASE</td>
            <td>MYM Solutions</td>
            <td>Optimus Futurus</td>
            <td>Ingenium</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
        	<td style="font-weight:bold;">1000</td>
            <td>3R</td>
            <td>IdeaMovers</td>
            <td>Caseworks</td>
            <td>Wizards</td>
            <td>Team AAA</td>
            <td>Fusion</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">1030</td>
            <td>ABAZ</td>
            <td>Team Pinnacle</td>
            <td>Brain and Co.</td>	
            <td>SOLVIERS</td>
            <td>Gnistor</td>
            <td>Team Bastion</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">1130</td>
            <td>Fabuleux</td>	
            <td>Rio</td>
            <td>Motion Vision</td>	
            <td>Casey</td>
            <td>Falling Leaves</td>	
            <td>Teamuno</td>
        </tr>
	</table>
    
    	</td>
	</tr>
    
    <tr>
    	<td colspan="5">
Remember to send your team photo to <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>! Do also feel free to contact me if you have any queries.
<br /><br />
We look forward to seeing you on Saturday! Be punctual and see you there!
<br /><br /><br />
Yours Sincerely,
<br /><br />
Geraldine Teo
<br />
Liaison Officer 
<br />
Ernst &amp; Young Singapore Business Case Competition 2011

        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>