<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br />
I hope the Ernst &amp; Young Singapore Business Case Competition 2011 has brought to you the ultimate case experience. In order to bring to you a better competition next year, we would like to receive some feedback from all of you and it would be greatly appreciated if you could spend the next 5 minutes  filling in this form (<strong>or before 6th April!</strong>). Your responses may be shared with Ernst &amp; Young. 
<br /><br />
There are 3 survey forms, with around 10 questions each (mostly multiple choice).  Quarterfinalists are to complete survey 1 and 2. Semifinalists and Finalists are to complete survey 1, 2 and 3.
<br /><br />
1. <a href="http://www.surveymonkey.com/s/XQZHLNX" style="color:#12484b; text-decoration:underline;">http://www.surveymonkey.com/s/XQZHLNX</a>
<br />
2. <a href="http://www.surveymonkey.com/s/XQ578VQ" style="color:#12484b; text-decoration:underline;">http://www.surveymonkey.com/s/XQ578VQ</a>
<br />
3. <a href="http://www.surveymonkey.com/s/XQ52RCB" style="color:#12484b; text-decoration:underline;">http://www.surveymonkey.com/s/XQ52RCB</a>
<br /><br />
I'm looking forward to your responses, Thank you! 
<br /><br />
Regards,
<br />
Geraldine Teo
<br />
Liaison Officer
<br />
Ernst &amp; Young Singapore Business Case Competition 
		</td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>