<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br /><br />


This is a brief overview of the programme tomorrow. The whole event is expected to end at 230PM.

		</td>
    </tr>
    <tr>
    	<td colspan="5">
        
    <table border="0" cellpadding="6" cellspacing="0" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
    	<tr valign="top" align="left">
        	<td style="background-color:#D1F7C0; font-weight:bold;">
				Time
            </td>
            <td style="background-color:#FEFFC1; font-weight:bold;">
            	Activities
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	0800
			</td>
            <td style="background-color:#FEFFC1;">
            	Registration outside the HSS Auditorium 
                <br />
                Welcome Session 
			</td>
		</tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				0930-1100
            </td>
            <td style="background-color:#FEFFC1;">
            	Quarterfinal Presentations
            </td>
        </tr> 
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	1130
            </td>
            <td style="background-color:#FEFFC1;">
            	Sustainability Games at the Foyer
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	1200
            </td>
            <td style="background-color:#FEFFC1;">
            	Lunch
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	1230
            </td>
            <td style="background-color:#FEFFC1;">
            	Opening Ceremony
				<br />
                Announcement of Quarterfinal Results
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	1330-1430
            </td>
            <td style="background-color:#FEFFC1;">
            	Case Interview Training Session
            </td>
        </tr>
	</table>
    
    	</td>
	</tr>
    <tr>
    	<td colspan="5">
			The <strong><u>edited</u></strong> presentation schedule is as followed: 
		</td>
	</tr>
    <tr>
    	<td colspan="5">
	
	<table border="0" cellpadding="6" cellspacing="0" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
		<tr valign="top" align="center" style="font-weight:bold; background-color:#D1F7C0;">
        	<td>Time</td>	
            <td>Pool 1</td>
            <td>Pool 2</td>
            <td>Pool 3</td>
            <td>Pool 4</td>
            <td>Pool 5</td>
            <td>Pool 6</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">0930</td>
            <td>The Invincibles</td>	
            <td>Case and Young</td>	
            <td>KASE</td>
            <td>MYM Solutions</td>
            <td>Optimus Futurus</td>
            <td>Ingenium</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
        	<td style="font-weight:bold;">1000</td>
            <td>3R</td>
            <td>IdeaMovers</td>
            <td>Caseworks</td>
            <td>Wizards</td>
            <td>Team AAA</td>
            <td>Fusion</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">1030</td>
            <td>ABAZ</td>
            <td>Team Pinnacle</td>
            <td>Brain and Co.</td>	
            <td>SOLVIERS</td>
            <td>Gnistor</td>
            <td>Teamuno</td>
		</tr>
        <tr valign="top" align="center" style="background-color:#FEFFC1;">
			<td style="font-weight:bold;">1100</td>
            <td>Fabuleux</td>	
            <td>Rio</td>
            <td>Motion Vision</td>	
            <td>Casey</td>
            <td>Falling Leaves</td>	
            <td>Team Bastion</td>
        </tr>
	</table>
    
    	</td>
	</tr>
    
    <tr>
    	<td colspan="5">
Teams are allowed to bring their own clickers, but further editing of slides would not be allowed. 
<br /><br />
Remember to send your team photo to <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>! Do also feel free to contact me if you have any queries.
<br /><br />
We look forward to seeing you tomorrow! Be punctual and see you there at <strong><u>8am</u></strong>! 
<br /><br /><br />
Yours Sincerely,
<br /><br />
Geraldine Teo
<br />
Hp: 93832417
<br />
Liaison Officer 
<br />
Ernst &amp; Young Singapore Business Case Competition 2011

        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>