<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br />
Thank you for joining the Ernst &amp; Young Singapore Business Case Competition 2011. On behalf of the organizing committee, it is my pleasure to extend my warmest welcome to you! We are excited to have you on this journey with us, and it is our promise to you that you will enjoy the ultimate case experience.
<br /><br />
I believe you must have seen the Qualifying case and are cracking your head over where to go from here. This competition may be the first case competition for many of you, so we have decided to offer you some guidance on how to approach a business case. 
<br /><br />
Below are two links that you may find useful:
<br /><br />
1. An Approach to Case Analysis:
<br />
<a href="http://plato.acadiau.ca/courses/Busi/IntroBus/CASEMETHOD.html">http://plato.acadiau.ca/courses/Busi/IntroBus/CASEMETHOD.html</a>
<br /><br />
2. A Model for Strategic Planning, Analyzing Cases and Decision Making 
<br />
<a href="http://mbatoolbox.org/stories/storyReader$19">http://mbatoolbox.org/stories/storyReader$19</a>
<br /><br />
We have also put up more tools and resources on our SBCC webpage just for you. You may find them at <a href="http://www.sgbcc.com.sg/The-Competition/Resources/">http://www.sgbcc.com.sg/The-Competition/Resources/</a>
<br /><br />
Do also check out the <a href="http://www.sgbcc.com.sg/The-Competition/FAQ/">FAQ page</a> to find out some of the questions that your peers have brought up. Of course, you can always feel free to email me any other enquiries you have and I will get back to you as soon as I can. 
<br /><br />
Remember, the deadline is in exactly 9 days time (12th march)! At the end of 9 days, we will be assessing your deliverables along with other deliverables that we have received to see which teams truly understand Keppel's issues and provide recommendations worthy of Keppel's consideration.
<br /><br />
On a lighter note, please remember to send to me your team photo so that we can upload it on the facebook page because we want to get to know you!  We have already uploaded some team photos; do feel free to tag yourselves or find out who your peers are. If you have not already done so, please like <a href="http://www.facebook.com/#!/pages/Singapore-Business-Case-Competition/132600626805086">our facebook page</a> so as to keep abreast of our latest updates!
<br /><br />
Finally, we are positive that you will live up to the challenge of the qualifying case and we look forward to your quality submission. Have a great week ahead!
 
<br /><br /><br />
Yours Sincerely,
<br /><br />
Geraldine Teo
<br />
Liaison Officer 
<br />
Ernst &amp; Young Singapore Business Case Competition 2011

        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>