<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br />

Congratulation once again for emerging victorious out of the 24 quarterfinals teams! Just a reminder, semifinals and finals are on this Saturday, 26th March 2011. You would need to report at <strong><u>8am</u></strong>, HSS auditorium and this is the tentative programme for Saturday. 

		</td>
    </tr>
    <tr>
    	<td colspan="5">
        
    <table border="0" cellpadding="6" cellspacing="0" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
    	<tr valign="top" align="left">
        	<td style="background-color:#D1F7C0; font-weight:bold;">
				Time
            </td>
            <td style="background-color:#FEFFC1; font-weight:bold;">
            	Programme
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
            	8.15am
			</td>
            <td style="background-color:#FEFFC1;">
            	Arrival
			</td>
		</tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				8.30 am
            </td>
            <td style="background-color:#FEFFC1;">
				Briefing
            </td>
        </tr> 
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				9.00am
            </td>
            <td style="background-color:#FEFFC1;">
				Case Preparation
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				12.00 pm
            </td>
            <td style="background-color:#FEFFC1;">
				Lunch
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				2.30 pm
            </td>
            <td style="background-color:#FEFFC1;">
				Semi Final Case Presentations
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				5.30pm
            </td>
            <td style="background-color:#FEFFC1;">
				Grand Finals
            </td>
        </tr>
        <tr valign="top" align="left">
        	<td style="background-color:#D1F7C0;">
				8.00 pm
            </td>
            <td style="background-color:#FEFFC1;">
				Dinner &amp; Networking
            </td>
        </tr>
	</table>
    
    	</td>
	</tr>
    <tr>
    	<td colspan="5">

As you would only have 5 hours to work on the case, please manage your time well. Please also bring your own working materials, which include <u>laptops and writing materials</u>. We would be provide some writing materials but it might not be sufficient for your team. 
<br /><br />
In addition, there is a minor change to the rules, as we would now have a 15 minutes Q&amp;A during the grand finals, instead of 10 minutes, to allow the judges to delve deeper into the case. However, Q&amp;A during semis would still remain at 10 minutes. 
<br /><br />
We hope you have enjoyed last Saturday with us in the Quarterfinals and we look forward to feedback your teams might have, in order to help us improve in the Semifinals and Finals. Thank you!
<br /><br />
Regards,
<br />
Geraldine Teo
<br />
Liaison Officer
<br />
E&amp;Y-SBCC

        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>