<table border="0" cellpadding="6" cellspacing="0" width="650px" align="center" style="font-family:'Verdana, Geneva, sans-serif';font-size:12px;color:#666666;">
    <tr>    	
    	<td colspan="5" style="font-size:12px; font-weight:bold; color:black; text-align: center">
            <h2>Singapore Business Case Competition</h2>
        </td>
    </tr>
    <tr>
    	<td colspan="5" style="font-size:12px; font-weight:bold; color:black; text-align: center">
            Case Submission Received
        </td>
    </tr>
    <tr>
    	<td colspan="5">
            &nbsp;        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">        	
            Dear {TEAM_NAME},
             <br /><br />
            Thank you for your submission for the Singapore Business Case Competition 2013. The entries will be reviewed shortly.
        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>    
    
    <tr>
    	<td colspan="5">
            For any other enquiries, please contact us at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>. 
            <br /><br />
            Warmest Regards, 
            <br />
            Singapore Business Case Competition 2013 Organising Committee
        </td>
    </tr>
    
    
</table>