<table border="0" cellpadding="6" cellspacing="0" height="100%" width="650px" align="center" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5" align="center" valign="top" style="font-size:20px; font-weight:bold; color:font-size:12px; color:#4BB5C2;">
        	Case Submission Received
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">        	
            Dear {TEAM_NAME},
             <br /><br />
            Thank you for your submission for the Ernst &amp; Young Singapore Business Case Competition. The entries will be reviewed shortly.
            <br /><br />
            {UPLOADOBJ}
        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    <tr>
    	<td colspan="5">
For any other enquiries, please contact us at <a href="mailto:liaison@sgbcc.com.sg">liaison@sgbcc.com.sg</a>. 
<br /><br />
Warmest Regards, 
<br />
Ernst &amp; Young Singapore Business Case Competition Organising Committee
        </td>
    </tr>
    
    
</table>