<table border="0" cellpadding="6" cellspacing="0" height="100%" width="100%" align="left" style="font-family:"Lucida Grande",Verdana, Geneva, sans-serif;font-size:12px;color:#666666;">
	<tr>
    	<td colspan="5" valign="top">
        	<img src="http://www.sgbcc.com.sg/images/logo.png" height="200" alt="Ernst &amp; Young Singapore Business Case Competition" />
        </td>
    </tr>
    <tr>
    	<td colspan="5">&nbsp;
        	
        </td>
    </tr>
    <tr>
    	<td colspan="5">
Dear Members of <strong>{{TEAM_NAME}}</strong>,
<br /><br />
 
 
With only less than a week to the <strong style="color:#900;">submission deadline</strong> on the <strong style="color:#900;">12th March 2359</strong>, you must be busy preparing the executive summary and PowerPoint slides (The quality of <u>both</u> deliverables is equally important to get yourself qualified!) You may like to note that we allow multiple submissions, but we review only the final submission. Hence we encourage you to submit early so as to prevent technical glitches. To uphold the fairness of this competition, we would like to remind you again not to mention any schools in the deliverables.
<br /><br />
You will be delighted to note that all quarter finalists will have the opportunity to attend a mock case interview session conducted by Business Solutions alumni who have found jobs in prestigious companies such as McKinsey &amp; Company. Also, <strong style="color:#900;">all participants</strong> will receive priority invitations to grace the grand final cum corporate networking session over dinner on <u>26th March</u>. This year, we have invited <strong>well-esteemed judges</strong> for the grand final, including:
<br /><br />
-	Partner from Ernst &amp; Young, a global leader in assurance, tax, transaction and advisory services.
<br />
-	Director from McKinsey &amp; Company, one of the top global management consulting firms. 
<br />
-	Former Dean of Nanyang Business School
<br /><br />
If you are interested to attend the event, reply to this email at liaison@sgbcc.com.sg with your name, team name, email and phone number. Seats are limited and are on a first-come-first-served basis.
<br /><br />
On this note, we wish you all the best and look forward to your submissions! 
 
<br /><br /><br />
Yours Sincerely,
<br />
Lui Wen Jie
<br />
Liaison Officer
<br />
Ernst &amp; Young Singapore Business Case Competition


        </td>
    </tr>
    
    <tr>
    	<td colspan="5">&nbsp;
        		
        </td>
    </tr>
    
    
    
    
</table>